{% extends "atlmoodle/index.html" %}


{% block sidebar %}
     <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%; height: inherit">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-4">Sidebar</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'atlmoodle:main_page' %}" class="nav-link text-white" aria-current="page" >
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'atlmoodle:quizzes:main-view' %}" class="nav-link active" >
                                Quizzes
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'atlmoodle:file' %}" class="nav-link text-white">
                                Upload de testes
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'atlmoodle:detalhe' %}" class="nav-link text-white">
                                Detalhes
                            </a>
                        </li>
                        <li>
                            </a>
                            <a href="{% url 'atlmoodle:calendar' %}" class="nav-link text-white">
                                Calendário de Eventos
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'atlmoodle:home' %}" class="nav-link text-white">
                                Forum
                            </a>
                        </li>
                    </ul>


                </div>
{% endblock sidebar %}


{% block content %}

<body>
 <div class="container">
        <h1>Criar Quiz</h1>
        <form action="{% url 'atlmoodle:quizzes:QuizCreator' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="topic">Topic:</label>
                <textarea id="topic" name="topic" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="number_of_questions">Number of Questions</label>
                <input type="number" id="number_of_questions" name="number_of_questions" class="form-control"></input>
            </div>
            <div class="form-group">
                <label for="time">Time in minutes:</label>
                <input type="number" id="time" name="time" class="form-control"></input>
            </div>
            <div class="form-group">
                <label for="score_to_pass">Score to Pass(0-100):</label>
                <input type="number" id="score_to_pass" name="score_to_pass" class="form-control"></input>
            </div>
            <div class="form-group">
                <label for="diff">Dificulty</label>
                <select id="diff" name="diff" class="form-control dropdown">
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div>
            <input type="submit" value="Criar Quiz" class="btn btn-primary">
        </form>
    </div>
</body>

{% endblock content %}