{% extends "atlmoodle/index.html" %}
{% load static %}
{% block content %}
    <body>
    <h1> Ficheiros</h1>
    {% if uploaded_files %}
        <ul>
            {% for uploaded_file in uploaded_files %}
                <li>
                    <a href="{{ uploaded_file.file.url }}" download>{{ uploaded_file.titulo }}</a><br>
                    <a>Autor: {{ uploaded_file.autor }}, {{ uploaded_file.name }}</a><br>
                    <a>Descrição do ficheiro: {{ uploaded_file.evento }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nao ha ficheiros disponiveis.</p>
    {% endif %}

    <a href="{% url 'atlmoodle:fazer_upload' %}"> Dar upload de ficheiro</a>
    <br/>
    <a href="{% url 'atlmoodle:eliminar' %}"> Eliminar ficheiros</a>
    </body>
{% endblock content %}