{#Criar os blocos necessários#}
{% extends "atlmoodle/index.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block sidebar %}
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%; height: inherit">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-4">Sidebar</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'atlmoodle:main_page' %}" class="nav-link text-white" aria-current="page">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'atlmoodle:quizzes:main-view' %}" class="nav-link text-white">
                                Quizzes
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'atlmoodle:file' %}" class="nav-link text-white">
                                Upload de testes
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'atlmoodle:detalhe' %}" class="nav-link active">
                                Detalhes
                            </a>
                        </li>
                        <li>
                            </a>
                            <a href="{% url 'atlmoodle:calendar' %}" class="nav-link text-white">
                                Calendário de Eventos
                            </a>
                            <a href="{% url 'atlmoodle:home' %}" class="nav-link text-white">
                                Forum
                            </a>
                        </li>
                    </ul>


                </div>
{% endblock sidebar %}
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                <h1>Details</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        {% if request.user.aluno %}
        <tr>
            <td><strong>User:</strong></td>
            <td>{{ request.user.aluno.first_name }} {{ request.user.aluno.last_name }}</td>
        </tr>
        <tr>
            <td><strong>Ano Escolar:</strong></td>
            <td>{{ request.user.aluno.anoEscolar }}</td>
        </tr>
        <tr>
            <td><strong>Contacto:</strong></td>
            <td>{{ request.user.email }}</td>
        </tr>
        {% else %}
        <tr>
            <td><strong>User:</strong></td>
            <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
        </tr>
        <tr>
            <td><strong>Anos a lecionar:</strong></td>
            <td>{{ request.tutor.anos_a_ensinar_min }} {{ tutor.anos_a_ensinar_max }}</td>
        </tr>
        <tr>
            <td><strong>Contacto:</strong></td>
            <td>{{ request.user.email }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}
</body>
</html>