{#Criar os blocos necessários#}
{% extends "atlmoodle/index.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                <h1>Aluno Details</h1>
            </th>
        </tr>
    </thead>
    <tbody>
        {% if request.user.aluno %}
        <tr>
            <td><strong>User:</strong></td>
            <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
        </tr>
        <tr>
            <td><strong>Ano Escolar:</strong></td>
            <td>{{ request.user.aluno.anoEscolar }}</td>
        </tr>
        <tr>
            <td><strong>Contacto:</strong></td>
            <td>{{ request.user.email }}</td>
        </tr>
        {% else %}
        <tr>
            <td><strong>User:</strong></td>
            <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
        </tr>
        <tr>
            <td><strong>Anos a lecionar:</strong></td>
            <td>{{ request.tutor.anos_a_ensinar_min }} {{ tutor.anos_a_ensinar_max }}</td>
        </tr>
        <tr>
            <td><strong>Contacto:</strong></td>
            <td>{{ request.user.email }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% endblock content %}
</body>
</html>