<!DOCTYPE html>
<html>
<head>
    <title>Choose Model</title>
</head>
<body>
{#    <h1>Choose a Django Model</h1>#}
{##}
{#    <form id="model-form">#}
{#        <label for="model-select">Select a Model:</label>#}
{#        <select id="model-select" name="model">#}
{#            <option value="aluno">Aluno</option>#}
{#            <option value="tutor">Tutor</option>#}
{#        </select>#}
{##}
{#        <input type="submit" value="Submit">#}
{#    </form>#}

    <div id="model-fields">
        <h2>Fill out the attributes</h2>

        <div id="login-fields">
            <form id="login-form" action="{% url 'atlmoodle:loginpage' %}" method="POST">
                {% csrf_token %}
                <label for="aluno-user">User:</label>
                <input type="text" id="aluno-user" name="user">
                <br>
                <label for="aluno-pass">Password:</label>
                <input type="text" id="aluno-pass" name="pass">
                <br>
                <input type="submit" value="Create Aluno">
            </form>
        </div>

{#        <div id="tutor-fields" style="display: none;">#}
{#            <form id="tutor-form" action="/create-tutor" method="POST">#}
{#                {% csrf_token %}#}
{#                <label for="tutor-user">User:</label>#}
{#                <input type="text" id="tutor-user" name="user">#}
{#                <br>#}
{#                <label for="tutor-anos-min">Anos a Ensinar (Min):</label>#}
{#                <input type="number" id="tutor-anos-min" name="anos_a_ensinar_min">#}
{#                <br>#}
{#                <label for="tutor-anos-max">Anos a Ensinar (Max):</label>#}
{#                <input type="number" id="tutor-anos-max" name="anos_a_ensinar_max">#}
{#                <br>#}
{#                <label for="tutor-contacto">Contacto:</label>#}
{#                <input type="number" id="tutor-contacto" name="contacto">#}
{#                <br>#}
{#                <input type="submit" value="Create Tutor">#}
{#            </form>#}
{#        </div>#}
    </div>

{#    <script>#}
{#        document.getElementById('model-form').addEventListener('submit', function(event) {#}
{#            event.preventDefault();#}
{#            var modelSelect = document.getElementById('model-select');#}
{#            var selectedModel = modelSelect.value;#}
{##}
{#            var modelFields = document.getElementById('model-fields');#}
{#            var alunoFields = document.getElementById('aluno-fields');#}
{#            var tutorFields = document.getElementById('tutor-fields');#}
{##}
{#            if (selectedModel === 'aluno') {#}
{#                alunoFields.style.display = 'block';#}
{#                tutorFields.style.display = 'none';#}
{#            } else if (selectedModel === 'tutor') {#}
{#                alunoFields.style.display = 'none';#}
{#                tutorFields.style.display = 'block';#}
{#            }#}
{##}
{#            modelFields.style.display = 'block';#}
{#        });#}
{#    </script>#}
</body>
</html>
